* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */

.sidenav {
    height: 100%;
    width: 175px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    border: 2px solid lightcoral
}



/* Side navigation links */
.sidenav a {
    color: black;
    padding: 30px;
    text-decoration: none;
    display: block;
    background-color: lightcoral;
    border: 2px solid white;
    font-family: fantasy;
    font-weight: normal;
}

/* Change color on hover */
.sidenav a:hover {
    background-color: white;
    color: lightcoral;
    border: 2px solid lightcoral;
}

/* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}
    body {background-image: url(foods.jpg); width=100%;
        background-color: darkviolet; font-family: sans-serif; text-align: center; margin-left: 200px; margin-right: 200px}
h1 {background-color: white; color: lightcoral; font-family: fantasy;}
    h6 {font-size: 15px;color: black; background-color: white; font-family: serif; border: 2px solid lightcoral }
    .head {color: black;}
    #foot {text-align-last: center; color: black; font-family: serif}
    h3 {background-color: white; color: lightcoral; font-family: serif; border: 2px solid lightcoral}
    h2 {background-color: white; color: lightcoral; font-family: fantasy; border: 2px solid lightcoral}
    h4 {background-color: white; color: black; font-family: serif; border: 2px solid lightcoral}
    h5 {background-color: white; color: black; font-family: serif; border: 2px solid lightcoral}
    p {font-family: serif; font-size: 16px; color: black; background-color: white; border: 2px solid lightcoral}
ul {font-family: serif; font-size: 14px; color: black; background-color:white; text-align: left; font-weight: normal}
ol {font-family: serif; font-size: 14px; color: black; background-color:white; text-align: left; font-weight: normal}
#image {background-color: white; border: 2px solid lightcoral}
#video {background-color: white; border: 2px solid lightcoral}